hello_app/.DS_Store
hello_app/node_modules
hello_app/dist

# local env files
hello_app/.env.local
hello_app/.env.*.local

# Log files
hello_app/npm-debug.log*
hello_app/yarn-debug.log*
hello_app/yarn-error.log*

calc_app/.DS_Store
calc_app/node_modules
calc_app/dist

# local env files
calc_app/.env.local
calc_app/.env.*.local

# Log files
calc_app/npm-debug.log*
calc_app/yarn-debug.log*
calc_app/yarn-error.log*

nuxt_first_app/node_modules

nuxt_app/node_modules
nuxt_app/logs
nuxt_app/*.log
nuxt_app/npm-debug.log*
