<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <style>
  table tr th {
    font-size: 16pt;
    color: white;
    background-color: blue;
    padding: 5px 15px;
  }
  table tr td {
    font-size: 16pt;
    color: gray;
    border: 1px solid gray;
  }
  li {
    font-size: 16pt;
    color: gray;
  }
  </style>

  <h1>Vue.js</h1>
  <div id="app">
    <p>テーブルを表示する</p>
    <table>
      <tr><th>id</th><th>name</th><th>mail</th></tr>
      <tr v-for="(item, index) in items" v-if="index % 2 == 0">
        <td>{{index}}</td>
        <td>{{item.name}}</td>
        <td>{{item.mail}}</td>
      </tr>
      <tr v-else>
        <td>***</td>
        <td>***</td>
        <td>***</td>
      </tr>
    </table>
  </div>

  <script>
    var data = {
      items: [
        {name: "name1", mail: 'mail1@gmail.com'},
        {name: "name2", mail: 'mail2@gmail.com'},
        {name: "name3", mail: 'mail3@gmail.com'}
      ]
    }

    var app = new Vue({
      el: '#app',
      data: data
    });
  </script>
</body>
</html>
